<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container1">
          
            <div class="signup-content">
                <form method="POST" action="/save-edit/{{id}}" id="save-edit" class="signup-form">
                    <h2 class="form-title">Edit</h2>
                    <div class="form-group">
                        <input type="text" class="form-input1" id="name" name="fullName" style="text-align: center;"
                            placeholder="Full Name" value="{{name}}"/>
                        <button class="form-submit">SAVE</button>
                    </div>
                    {{> messages}}
                </form>
            </div>
        </div>
    </section>

</div>